<!doctype html>
<html>
<head>
  <title>{{ name }}</title>
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
</head>
<body>

  <a href="javascript:history.back()" style="display:inline-block;margin-bottom:10px;">
    ⬅ Back
  </a>

  <h2>{{ name }}</h2>

  <video id="video" controls width="800"></video>

  <script>
    const video = document.getElementById("video");
    const src = "{{ url }}";

    if (Hls.isSupported()) {
      const hls = new Hls();
      hls.loadSource(src);
      hls.attachMedia(video);
    } else {
      video.src = src;
    }
  </script>

</body>
</html>
